<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google</title>
    <link rel="stylesheet" type="text/css" href="../css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../css/edits.css">
    <link rel="stylesheet" type="text/css" href="../css/elgoog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="page">
<div id="top-thing">
    <div class="float-left" id="top-left">
        <a class="black underline float-left" id="about" href="#">About</a> <a class="black underline float-left" id="store" href="#">Store</a>
    </div>
    <div class="float-right" id="top-right">
        <div class="button float-right" id="idk-potato">Sign in</div> <img class="float-right" id="img" src="../images/guggle.png"> <a id="images" class="black underline float-right" href="#">Images</a> <a id="gmail" class="black underline float-right" href="#">Gmail</a>
    </div>
</div>

<div>
<div id="logo" class="float-center"><img src="../images/google.png"></div>
</div>

<div>
    <input title="search" type="text" id="igoogle" class="float-center"> <img class="float-right" id="mic-input" src="../images/mic.png">
</div>
    <div id="gsearch" class="button float-left gbutton">Google Search</div> <div id="lucky" class="button float-right gbutton">I'm Feeling Lucky</div>


        <footer id="gbot">
            <div class="float-left">
                <a class="black underline" id="advertising" href="#">Advertising</a> <a class="black underline" id="business" href="#">Business</a>
            </div>
            <div class="float-right">
                <a class="black underline" id="settings" href="#">Settings</a> <a class="black underline" id="terms" href="#">Terms</a> <a class="black underline" id="privacy" href="#">Privacy</a>
            </div>
        </footer>
</div>
</body>
</html>